* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

.childern_parent_div {
    background-color: black;
    height: 100vh;
    padding: 120px 0px 80px 0px;
    border-bottom: 10px solid rgb(35, 35, 35);
}

.childern_child_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 170px 0px 170px;
}

.kide_image {
    width: 100%;
}

.profiles_kids {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    line-height: 1.3;
    font-family: Poppins-ExtraBold;
}

.children_characters {
    color: rgb(255, 255, 255);
    font-size: 1.36rem;
    font-family: Poppins-Medium;
}

@media screen and (max-width:1080px) {
    .childern_parent_div {
        height: 42vh;
    }

    .childern_child_div {
        margin: 0px 50px 0px 50px;
        padding-left: 10px;

    }

    .kide_image {
        padding-left: 10px;
    }

    .profiles_kids {
        line-height: 1.5;
    }

    .children_characters {
        font-size: 1.32rem;
    }
}

@media screen and (max-width:992px) {
    .childern_parent_div {
        height: 85vh;
        padding-top: 100px;
    }

    .childern_child_div {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }

    .profiles_kids {
        font-size: 1.9rem;
        text-align: center;
    }

    .children_characters {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    .childern_child_div {
    margin-top: 10px;
       padding-top: 60px;
    }

    .childern_parent_div {
        padding: 0px 0px 0px 0px;
        height: 90vh;
    }
    .childern_child_div{
        margin: 0px 30px 0px 10px;
    }
    .profiles_kids{
        font-size: 1.8rem;
        font-weight: 700;
    }
    .children_characters{
        font-size: 1rem;
        line-height: 1.6;
    }
}